- breadcrumb @vhost, @apache

= link_to_back apache_vhosts_path(@apache)

= form_wrapper(t("actions.vhost.#{action}")) do
  = permitted_nested_form_for([@apache, @vhost], options_for_horizontal_form.merge(wrapper: :horizontal_input_group)) do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'indexes', 'Индексы'
      = tab_presentation 'ssl', 'SSL'
      = tab_presentation 'settings', 'Настройки'
    = tabs_content do
      = tab_pane('main', true) do
        = f.input :server_name
        = f.input :primary
        = f.input :active
        = field_set_tag t('headers.vhost_aliases') do
          = f.simple_fields_for :vhost_aliases do |g|
            = g.label :name, class: 'control-label'
            .input-group
              = g.text_field :name, class: 'form-control'
              %span.input-group-addon= g.link_to_remove admin_icon(:destroy)
          - if f.editable_field?(:vhost_aliases)
            = f.link_to_add('Добавить', :vhost_aliases)
      = tab_pane('indexes') do
        = f.input :directory_index
        = f.input :indexes
      = tab_pane('ssl') do
        = f.input :ssl
        = f.association :ssl_ip_address, required: true
        = f.input :ssl_port, required: true
        = f.association :ssl_cert_chain
        = f.input :ssl_key, required: true
        = f.input :ssl_certificate, required: true
      = tab_pane('settings') do
        = f.input :skip_nginx
        = f.input :custom_config
    = f.button :submit
