- breadcrumb @apache

= link_to_back apaches_path

= form_wrapper(t("actions.apache.#{action}")) do
  = permitted_form_for(@apache) do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'settings', 'Настройки'
    = tabs_content do
      = tab_pane('main', true) do
        = f.input :active
        = f.association :user
        = f.association :system_user
        = f.association :system_group
        = f.association :apache_variation
        = f.association :ip_address
      = tab_pane('settings') do
        = f.input :port
        = f.input :min_spare_servers
        = f.input :max_spare_servers
        = f.input :start_servers
        = f.input :max_clients
        = f.input :server_admin
        = f.input :skip_nginx
        = f.input :custom_config
    = f.button :submit
