- breadcrumb @system_user_shell

= link_to_back system_user_shells_path

= form_wrapper(t("actions.system_user_shell.#{action}")) do
  = permitted_form_for(@system_user_shell) do |f|
    = f.error_notification
    = f.input :name
    = f.input :path
    = f.input :is_default
    = f.button :submit
