- breadcrumb @mysql_user

= link_to_back mysql_users_path

= form_wrapper(t("actions.mysql_user.#{action}")) do
  = permitted_form_for(@mysql_user, options_for_horizontal_form) do |f|
    = f.error_notification
    = f.input :login
    = f.input :new_password, required: @mysql_user.new_record?
    - if @mysql_user.new_record?
      = f.input :create_db, as: :boolean
    = field_set_tag('Владелец') do
      = f.association :apache, collection: @apaches, required: true
      .form-group= f.label 'или', class: 'col-md-2 control-label'
      = f.association :rails_server, collection: @rails_servers, required: true
    = f.button :submit
