- breadcrumb @ssl_cert_chain

= link_to_back ssl_cert_chains_path

= form_wrapper(t("actions.ssl_cert_chain.#{action}")) do
  = permitted_form_for(@ssl_cert_chain) do |f|
    = f.error_notification
    = f.input :name
    = f.input :certificate
    = f.button :submit
